*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#grid{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr/1fr 1fr 1fr 1fr;
    gap: 2px 2px;
    background-color: yellow;
}
.dos{
    grid-row: span 2;
    background-color: red;
}