@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Peralta&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
header{
    position: fixed;
    top: 0;
    width: 100%;
}
img{
    max-width: 100%;
}
.container{
    width: 80%;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 25%;
}
nav ul{
    width: 60%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

nav ul a{
    font-family: 'Peralta';
    color: whitesmoke;
    text-decoration: none;
}
.boton{
    background-color: rgba(0, 0, 0, 0.739);
    padding: 10px 15px;
    border: 1px solid white;
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
}
#home{
    height: 100vh;
    background-image: url("./img/home.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
}
#home > div{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.432) ;
    text-align: center;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    padding: 10px 0;
}
h1{
    color: whitesmoke;
    font-family: 'Peralta';
}
h1 span{
    color: rgb(255, 210, 49);
    font-family: 'Montserrat';
    display: block;
    margin-bottom: 10px;
}
#news{
    background-color: #24242495;
    padding: 5% 0;
}
h2{
    color: whitesmoke;
    font-family: 'Peralta';
}
h2:after{
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: whitesmoke;
}
.contenedor-news{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2% 0;
    color: whitesmoke;
    text-align: center;
}
.contenedor-news div{
    width: 31%;
}
#hero{
    background-image: url(./img/hero-fondo.jpg);
    background-size: cover;
    padding: 5% 0;
}
#hero h2{
    color: #242424;
}
#hero h2:after{
    background-color: #242424;
}
.contenedor-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenedor-hero > div:nth-child(2){
    width: 50%;
}
#hero h3{
    font-size: 3rem;
    margin: 10px 0;
}
#hero span{
    font-size: 2rem;
}
#hero p{
    margin: 10px 0;
}
@media screen and (max-width:768px) {
    header{
        display: none;
    }
    #hero h3{
        font-size: 32px;
    }
    h1{
        font-size: ;
    }
}